<!DOCTYPE html> 
<html ng-app="meuModulo">
    <head>
        <title>Angular JS</title>
        <script src="lib/angular/angular.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>      
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
    </head>

    <body ng-controller="indexController">

        <header class="container">
            <h2>{{titulo}}</h2>
        </header>

        <main class="container">
            <div class="row">
                <!-- cria uma variavel BUSCA que pode ser utilizada no scope -->
                <input type="text" placeholder="Busca" ng-model="busca"> 
            </div>

            <table class="striped centered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Nota1</th>
                        <th>Nota2</th>
                        <th>Nota3</th>
                        <th>Media</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aluno in alunos">
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.email}}</td>
                        <td>{{aluno.nota1}}</td>
                        <td>{{aluno.nota2}}</td>
                        <td>{{aluno.nota3}}</td>
                        <td>{{media(aluno)}}</td>
                    </tr>
                </tbody>    
            </table>
        </main>

        
        <script type="text/javascript">
            angular.module("meuModulo", [])
                .controller("indexController", function($scope) {
                        $scope.titulo = "Sistema com Angular JS";
                        $scope.alunos = [
                            {nome:"Camila",email:"camila@b.com",nota1:80,nota2:80, nota3:55},
                            {nome:"Jose",email:"jose@b.com",nota1:80,nota2:80, nota3:80},
                            {nome:"Murilo",email:"murilo@b.com",nota1:10,nota2:80, nota3:55},
                            {nome:"Pedro",email:"pedro@b.com",nota1:10,nota2:80, nota3:55},
                            {nome:"Ana",email:"ana@b.com",nota1:10,nota2:80, nota3:55}
                        ];

                        // funcao criada
                        $scope.media = function(Aluno) {
                            var media = (Aluno.nota1 + Aluno.nota2 + Aluno.nota3) / 3;
                            return media.toFixed(2); // para tirar os zeros, javascript
                        };
                })
        </script>
    </body>

</html>
